#body {
  display: flex;

}

.left_container {
  height: 100vh;
  width: 20vw;
  background: #1f1f1fc9;
  margin: 0.5vw;
  border-radius: 0.5vw;
  padding: 0.3vw;
  margin-right: 0;
}



.mid {
  position: relative;
  cursor: ew-resize;
  height: 78vh;
  width: 0.2vw;
  margin-top: 0.5vw;
  transition: background-color 0.3s ease;
}

.mid:hover {
  background: white;
}



.right_container {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0;
  height: 78vh;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 78), black);
  margin: 0.5vw 0 0.5vw 0;
  border-radius: 0.5vw;
  padding: 0.3vw;
  overflow-y: auto;
}

.right_container::-webkit-scrollbar {
  width: 0;
}

.playlist-sec,
.artist-sec {
  height: 30vh;
  width: 100%;

  margin: 0.5vw;
  border-radius: 1vh;
  padding: 0.1vw;
  display: flex;
  flex-direction: column;
 
}
.artist-sec,.playlist-sec>h1{
  text-align: left;
  padding-left: 1vw;
}
.items{
  height: 25vh;
  width: 75vw;
  margin: 0.3vw;
  border-radius: 1vh;
  padding: 0.1vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
  gap: 0.1vw;
  /* scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory; */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: auto;
}
.items::-webkit-scrollbar{
  width: 0;
}
@media (max-width: 768px) {
  .left_container {
    width: 40vw;
    margin: 2vw 0;
  }

  .mid {
    width: 0.5vw;
  }

  .right_container {
    height: auto;
    width: 100%;
    margin: 2vw 0;
  }

  .playlist-sec,
  .artist-sec {
    height: auto;
    width: 100%;
    margin: 2vw 0;
  }

  .items {
    width: 100vw;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .left_container {
    width: 70vw;
    margin: 3vw 0;
  }

  .mid {
    width: 1vw;
  }

  .right_container {
    height: auto;
    width: 100%;
    margin: 3vw 0;
  }

  .playlist-sec,
  .artist-sec {
    height: auto;
    width: 100%;
    margin: 3vw 0;
  }

  .items {
    width: 100vw;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
  }
}
