#body {
  display: flex;

}

.left_container {
  height: 100vh;
  width: 20vw;
  background: #1f1f1fc9;
  margin: 0.5vw;
  border-radius: 0.5vw;
  padding: 0.3vw;
  margin-right: 0;
}



.mid {
  position: relative;
  cursor: ew-resize;
  height: 78vh;
  width: 0.2vw;
  margin-top: 0.5vw;
  transition: background-color 0.3s ease;
}

.mid:hover {
  background: white;
}

/* .right_container {
  position: relative;
  right: 0;
  height: 78vh;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 113), black);
  margin: 0.5vw 0 0.5vw 0;
  border-radius: 0.5vw;
  padding: 0.3vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
  gap: 0.1vw;
  scroll-behavior: smooth;
  overflow-y: auto;
  scroll-snap-align: start;
} */

.right_container {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0;
  height: 78vh;
  width: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 113), black);
  margin: 0.5vw 0 0.5vw 0;
  border-radius: 0.5vw;
  padding: 0.3vw;
}

.right_container::-webkit-scrollbar {
  width: 0;
}

.playlist-sec,
.artist-sec {
  height: 35vh;
  width: 100%;
  border: 1px solid white;
  margin: 0.3vw;
  border-radius: 1vh;
  padding: 0.1vw;
}