.card {
  height: 11vw;
  width: 9vw;
  padding: 1vh;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.card:hover {
  background: #3a3a3a9a;
}

.cardlogo {
  height: 8vw;
  width: 8vw;
  border-radius: 10px;
}

.title {
  width: 100%;
  font-size: 0.9vw;
}

.playbtn {
  display: flex;
  position: absolute;
  right: 1vw;
  top: 5vw;
  height: 2vw;
  width: 2vw;
  opacity: 0;
  transform: translateY(4vw);
  transition: opacity 0.5s, transform 0.5s;
}

.playbtn.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .card {
    height: 20vw;
    width: 15vw;
    padding: 2vh;
  }

  .cardlogo {
    height: 15vw;
    width: 15vw;
  }

  .title {
    font-size: 1.2vw;
  }

  .playbtn {
    height: 4vw;
    width: 4vw;
    top: 7vw;
  }
}

@media screen and (max-width: 480px) {
  .card {
    height: 25vw;
    width: 18vw;
    padding: 3vh;
  }

  .cardlogo {
    height: 18vw;
    width: 18vw;
  }

  .title {
    font-size: 1.5vw;
  }

  .playbtn {
    height: 5vw;
    width: 5vw;
    top: 10vw;
  }
}

@media (max-width: 480px) {
  .card {
    height: 28vw;
    width: 19vw;
   margin-right: 1vh;
    padding: 1vh;
    border: 1px solid #ffffff;
  }

  .cardlogo {
    height: 14vw;
    width: 14vw;
  }

  .title{
    display: inline-block; 
    font-size: x-small;
    width: 100%;
    overflow: none;
    text-overflow: ellipsis; 
  }
}
