.profile_container {
    position: absolute;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    right: 0rem;
    height: 60px;
    width: 60px;
    border: 6px solid rgb(59, 59, 59);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.profile_container:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
}
.profile_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}