.SongProgressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #282828;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Ensure it appears on top of other elements */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.song-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 20%;
}

.album-art {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.song-details {
    display: flex;
    flex-direction: column;
    width: calc(100% - 90px);
}
.song-title {
    font-size: 14px;
    color: #fff;
    height: max-content;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
    display: block;
}

.song-artist {
    font-size: 12px;
    color: #b3b3b3;
}

.progressBarSec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.Time {
    font-size: 15px;

}

.progress-bar {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    margin-top: auto;
    height: 5px;
    background: #1db954;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-bottom: 10px;
}

.progress-bar:hover {
    opacity: 1;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.controls-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.controls button {
    background: none;
    border: none;
    height: max-content;
    width: max-content;
}

.controls button svg {
    margin: 1vh;
    cursor: pointer;
    width: 25px;
    height: 25px;

}


.controls button svg:hover {
    filter: drop-shadow(0 0 5px #1db954) brightness(1.5);
}

.volume-changer {
    width: 100px;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #1db954;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    
}

.volume-changer:hover {
    opacity: 1;
}

.volume-changer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.volume-changer::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .SongProgressBar {
        flex-direction: column;
        padding: 10px;
    }

    .song-info {
        width: 100%;
        margin-bottom: 10px;
        justify-content: center;
    }

    .controls-sec {
        width: 100%;
    }

    .progressBarSec {
        flex-direction: column;
        width: 100%;
    }

    .volume-changer {
        right: 10px;
    }
}

.album-artSpan {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(3, 3, 105), rgb(14, 14, 201), rgb(1, 8, 70));
}

.album-artSpan svg {
    height: 5vh;
    width: 5vh;
}
@media (max-width: 768px) {
    .SongProgressBar {
        flex-direction: column;
        padding: 10px;
    }

    .song-info {
        width: 100%;
        margin-bottom: 10px;
        justify-content: center;
        text-align: center;
    }

    .album-art, .album-artSpan {
        width: 60px;
        height: 60px;
    }

    .song-details {
        display: none;
    }

    .progressBarSec {
        flex-direction: column;
        width: 100%;
    }

    .progress-bar {
        width: 90%;
    }

    .controls-sec {
        width: 100%;
        flex-direction: column;
    }

    .controls {
        width: 100%;
        justify-content: space-around;
    }

    .volume-changer {
        right: 5px;
        bottom: 120px;
        /* transform: rotateZ(90deg); */
        width: 80px;
    }
}

@media (max-width: 480px) {
    .SongProgressBar {
        flex-direction: row;
        padding: 8px;
        width: 100vw;
    }

    .song-info {
        width: 100%;
        margin-bottom: 5px;
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    .album-art, .album-artSpan {
        width: 50px;
        height: 50px;
    }

    .song-details {
        width: calc(100% - 60px);
    }

    .song-title {
        font-size: 12px;
        text-overflow: ellipsis;
        width: 25vw;
    }

    .song-artist {
        font-size: 10px;
    }

    .progressBarSec {
        flex-direction: row;
        width: 100%;
    }
    .progressBarSec>span{
        font-size:small;
    }
    .progress-bar {
        width: 90%;
    }

    .controls-sec {
        width: 100%;
        flex-direction: column;
    }

    .controls {
        justify-content: space-between;
    }

    .volume-changer {
        right: -5px;
        top: -7px;
        bottom: 100px;
        /* transform: rotateZ(90deg); */
        width: 70px;
    }
}
